* {
    user-select: none;
}

body {
    animation: body 5s infinite alternate; 
    padding: 1px;
    cursor: none;
}

#caixa {
    height: 100%;
    width: auto;
}

#caixaSpaceship {
    position: relative;
    height: auto;
    width: auto;
    top: 80%;
}

#contenedorMoviment {
    position: relative;
    height: 150px;
    width: 150px;
}

@keyframes body {
  from {background-color: #150025;}
  to {background-color: #14003a;}
}