main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  width: 280px;
}

article img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#seleccionarTalles {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

#seleccionarColors {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}